<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-3" href="/admin">Admin Panel</a>
    <div class="ms-auto me-3">
      <a href="/" class="btn btn-sm btn-outline-light">View Store</a>
      <a href="/admin/profile" class="btn btn-sm btn-outline-light">Profile</a>
      <a href="/admin/logout" class="btn btn-sm btn-danger">Logout</a>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-light p-3 vh-100">
        <h5>Menu</h5>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="/admin">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/products">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/orders">Orders</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/customers">Customers</a></li>
        </ul>
      </div>

      <div class="col-md-10 p-4">